@tailwind base;
@tailwind components;
@tailwind utilities;




.homeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: coral;
  display: inline-block;
}

.childContainer {
  width: fit-content;
  height: 250px;
  margin: 40px;
  font-size: 50px;
  font-weight: 400px;
  display:inline-block;

}

.pinkColor {
  color:deepskyblue
}
.parentcontainer{
  background-color: coral;
}